.header {
    display: flex;
    // justify-content: flex;
    text-align: center;
    justify-content: space-between;
    margin-left: 2em;
}

.logo {
    display: flex;
    font-size: 30px;
    display: inline-block;
    
}

.text {
    float: right;
    justify-content: flex;
    text-align: center;
    color: black;
    text-decoration: none!important;

}

.links {
    font-size: 14px;
    display: inline-block;
    justify-content: space-between;
    
}

.link-text{
    color: black;
    text-decoration: none!important;
}