

.register-form{
	// min-width:0%;
	min-height:100vh;
    margin: auto;
    left: 50%;
    // border-right: 50%;
    
	.background-auth{
		background:url('../../assets/img/Register.jpg') center/cover no-repeat;
		@media(min-width:601px){ width:100%; }
	}
}

.logo {
    position: relative;
    bottom: -1em;
}

.helpLinks{
	margin-top:0.5em;
	a{
		font-size:16px;
		//color:$ndark-light;
		&:hover{text-decoration:underline;}
	}
} 
